
#decision-tree-answers {
  max-height: 400px;
  overflow-y: auto;
}

#decision-tree-answers p {
  margin-top: 5px;
  margin-bottom: 5px;
}

#decision-tree-answers input {
  border: none;
  background-color: transparent;
  color: #2996cc;
  padding: 0px;
  margin: 0px;
  height: 16px;
  line-height: 16px;
}

#decision-tree-answers input:hover {
  text-decoration: underline;
}
